

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #333;
}


.part2 img{
    height: 100vh;
    width: 60%;
    margin-left:20%;

}

header{
    height: 100vh;
    background-color: #2c2d30;
    box-shadow: -2px -2px 3px rgba(83,83,83,.4), 2px 2px 3px rgba(0,0,0,.36);
    width: 80px;
    color:#ffb55a;
    border-radius: 0 1.25rem 1,25rem 0;
    position: fixed;
    top:0;
    left:0;
    z-index: 3;
}